.wrapper {
  padding: 30px calc(50% - 570px);
  background: #1b252c;
  min-height: 100vh;
}

.contents {
  display: flex;
  align-items: flex-start;
}

* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1140px) {
  .wrapper {
    padding: 20px 10px;
    width: calc(100% - 20px);
  }

  .contents {
    flex-direction: column;
  }
}
